<div class="container static-page">
	<h2 class="static-pages-header">Campus Map</h2>
	</br>
	</br>	
	<h5>Interactive map</h5>
	<iframe 
	src="https://maps.google.com/maps/ms?msa=0&amp;msid=202711097691818293021.0004bcd2e666c59bc0255&amp;ie=UTF8&amp;t=m&amp;source=embed&amp;ll=38.675526,-90.223331&amp;spn=0.040205,0.06875&amp;z=14&amp;output=embed" 
	height="500px" width="500px">
	</iframe>
</div>	