<div class="container static-page">
	<h2 class="static-pages-header">For The Community!</h2>
	</br>
	</br>
	<p> North Campus students are part of a community that values their education. Part of what we do at 
		North Campus is make sure that the community reflects that notion. Safety is of our greatest concern 
		when providing programs for our students; our campus shuttle and security systems help create the safe 
		haven that allows our students to focus solely on their education!
	</p>
	<div class="slide-item">	
		<div class="slide-video">
			<iframe width="1000" height="315"
				src="https://www.youtube.com/embed/pM370mkE8LA" frameborder="0" allowfullscreen>
			</iframe>
		</div>
		<div class="slide-thumb slide-img-1"></div>
	</div>
</div>	