<div class="container mission-page">
	<h2 class="mission-header">Mission</h2>
	<div class="mission-map-description">
		<p>North Campus is a community centered around education. Located in north St. Louis City, 
			North Campus includes the O’Fallon neighborhood and sections of the Penrose and College Hill 
			neighborhoods (See our map here: <a href="www.google.com">www.northcampus.org/map</a>). Our goal is to build a pipeline of success 
			from birth through college graduation for all the children living in our boundaries.
		</p>
		<img src="assets/northcampus_map.jpg" class="mission-map-image"></img>
	</div>
	</br>
	</br>
	<p>
		We presently are doing in-school tutoring and after-school tutoring and enrichment programs for 3rd-8th graders living or attending school on-campus. 
		Our partners include St. Louis Public Schools, Teach For America, the Incarnate Word Foundation, the YMCA, the Boys & Girls Club, 
		the St. Louis Dream Center, the Fathers Support Center, the North Newstead Association, the St. Louis Chess Club, and student 
		groups from St. Louis University and Washington University in St. Louis.
	</p>
	</br>
	</br>
	<p>
		<strong>
			Our Mission is to coordinate an expansive network of partnerships working together for a common goal: 
			providing the children of the North Campus with a world-class education and an enriching childhood 
			experience so that they will ultimately lift themselves and their families out of poverty.
		</strong>
	</p>
</div>