<div id="myCarousel" class="carousel slide canvas-dimensions">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class></li>
		<li data-target="#myCarousel" data-slide-to="2" class></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="/assets/background_image.jpg" class="img-responsive">
			<div class="container">
				<div class="carousel-caption">
					<h1>What Is North Campus?</h1>
					<p>North Campus is a community centered around education. Watch Liz Peinado, 
						our Director of After-School Programming, explain our mission and our 
						vision for the children of North Campus.</p>
				</div>
			</div>	
		</div>
		<div class="item">
			<img src="/assets/background_image2.jpg" class="img-responsive">

		</div>
		
		<div class="item">
			<img src="/assets/background_image3.jpg" class="img-responsive">

		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background: transparent">
		<span class="icon-prev" style="font-size: 100px;"></span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next" style="background: transparent">
		<span class="icon-next" style="font-size: 100px;"></span>
	</a>
</div>

<section class="programs-row">
	<ul class="ch-grid">
		<li>			
			<div class="ch-item">	
				<div class="ch-info">
					<h3> AFTER-SCHOOL TUTORING </h3>
					<p> Using innovative self-paced learning programs such as Khan Academy, Study Island and MobyMax, 
						our tutors are able to meet every individual student where they are 
						and help them get to where they need to be.
					</p>
				</div>
				<div class="ch-thumb ch-img-1"></div>
			</div>
		</li>
		<li>
			<div class="ch-item">
				<div class="ch-info">
					<h3> RECREATION AND SPORTS </h3>
					<p> We believe that what happens outside the classroom is just as important as what happens inside the classroom.
						Making sure students have lots of healthy, safe recreation opportunities is key.
					</p>
				</div>
				<div class="ch-thumb ch-img-2"></img>
			</div>
		</li>
		
		<li>
			<div class="ch-item">
				<div class="ch-info">					
					<h3> CAMPUS SECURITY </h3>
					<p> All children deserve to live in a safe environment. The safety of all of the students and families
						living on our campus is a top priority and we're investing heavily in public safety in our area.
					</p>
				</div>
				<div class="ch-thumb ch-img-3"></div>
			</div>
		</li>
		<li>
			<div class="ch-item">
				<div class="ch-info">
					<h3> SHUTTLE SERVICE </h3>
					<p> Transporting our students to and from our partner schools and programs is a major component
						 of how we link the services offered by our many partners to North Campus students and families.
					</p>
				</div>
				<div class="ch-thumb ch-img-4"></div>
			</div>
		</li>
	</ul>
</section>


	
		
	
