<div id= "layer-parallax">
	<div id="myCarousel" class="carousel slide canvas-dimensions" data-menu-offset="-100">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class></li>
			<li data-target="#myCarousel" data-slide-to="2" class></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<img src="/assets/background_image.jpg" style="width:100%; height: 500px;" class="img-responsive">
				<div class="container">
					<div class="carousel-caption">
						<h1>North Campus</h1>
						<p>Change of the world</p>
					</div>
				</div>	
			</div>
			<div class="item">
				<img src="/assets/background_image2.jpg" style="width:100%; height: 500px;" class="img-responsive">
	
			</div>
			
			<div class="item">
				<img src="/assets/background_image3.jpg" style="width:100%; height: 500px;" class="img-responsive">
	
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
			<span class="icon-next"></span>
		</a>
	</div>
	
	<div class="row description-section">
		<div class="col-lg-4 description-position">
			<img class="img-circle" src="assets/tiger.jpg">
			<p> La loi d'orientation et de programmation pour la sécurité intérieure ou LOPSI 
				est une loi française, 
				publié le 29 août 2002, relative à la sécurité intérieure.
			</p>
		</div>
		
		<div class="col-lg-4 description-position">
			<img class="img-circle" src="assets/tiger.jpg">
			<p> La loi d'orientation et de programmation pour la sécurité intérieure ou LOPSI 
				est une loi française, 
				publié le 29 août 2002, relative à la sécurité intérieure.
			</p>
		</div>
		
		<div class="col-lg-4 description-position">
			<img class="img-circle" src="assets/tiger.jpg">
			<p> La loi d'orientation et de programmation pour la sécurité intérieure ou LOPSI 
				est une loi française, 
				publié le 29 août 2002, relative à la sécurité intérieure.
			</p>
		</div>
	</div>
</div>

<div id="bg1" data-0="background-position:0px 0px;" data-end="background-position:-500px -10000px;"></div>
<div id="bg2" data-0="background-position:0px 0px;" data-end="background-position:-500px -8000px;"></div>
<div id="bg3" data-0="background-position:0px 0px; background-color:rgb(97,212,255);" data-end="background-position:-500px -6000px; background-color:rgb(100,100,255);"></div>
	
		
	
