#mainCarousel{
  background: url("assets/tiger.jpg") 50% 0 repeat fixed;
  min-height: 1000px;
}

#tasks {
  background: url("assets/background_image.jpg") 50% 0 no-repeat;
  min-height: 1000px;
}

.img-circle{
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.canvas-dimensions{
  margin-top: -20px;
  
}

.description-section{
  padding-top: 50px;
}

.description-position{
   width:300px;
   top:50%;
   margin-left:12%;
}

.display-inline{
  display: -webkit-inline-box;
}

#layer-parallax{
  position:relative;
  z-index:100;
}


#bg1, #bg2, #bg3
{
  z-index:50;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:url(http://prinzhorn.github.io/skrollr/examples/images/bubbles.png) repeat 0 0;
}

#bg2
{
  z-index: 49; 
  background-image:url(http://prinzhorn.github.io/skrollr/examples/images/bubbles2.png) repeat 0 0;
}
