.mission-header {
  font-family: Germanica ,verdana, arial, helvetica, sans-serif;
  font-size: 65px;
}

.mission-page{
  padding-top: 80px;
}

.mission-map-image{
  float:right;
}

body > div.container.mission-page > div > p{
  display: inline;
}
